
<h1>Chat room</h1>

<div id="messages">
  <%= render @messages %>
</div>

<form action="">
  <label for="">Say something:</label><br>
  <input type="text" name="" id="" data-behavior="room_speaker">
</form>